* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    background: #232427;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    margin: 40px 0;
}

.container .card {
    position: relative;
    width: 700px;
    min-width: 320px;
    height: 440px;

    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.container .cardVideo  {
    position: relative;
    width: 400px;
    min-width: 220px;
    height: 700px;


    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container .cardVideo .boxVideo {
    /* top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px; */
    width: 90%;
    height: 180px;
    margin: 10px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.container .cardDescrition {
    position: relative;
    width: 700px;
    min-width: 220px;
    height: 240px;


    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 10px;
    margin-left: 30px;

    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container .cardDescrition .boxDescrition {
    position: absolute;
    width: 90%;
    height: 200px;
    margin: 10px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container .cardDescrition .boxDescrition .contentDescrition {
    padding: 20px;
    text-align: center;
}

.container .cardDescrition .boxDescrition .contentDescrition h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
}
.container .cardDescrition .boxDescrition .contentDescrition h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}

.container .cardDescrition .boxDescrition .contentDescrition p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: 0.5s;
}